<div class="d-flex justify-content-center">
  <h2 class="me-2">Filières</h2>
  <button class="btn btn-success ms-2" (click)="openAddModal()">Ajouter</button>
</div>
<div class="table-responsive" style="overflow-x: auto">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Libelle</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let filiere of filieres">
        <td>{{filiere.id}}</td>
        <td class="text-break">{{filiere.libelle}}</td>
        <td>
          <button *ngIf="filiere.id" type="button" class="btn btn-primary me-2"(click)="openModal(filiere.id)" >Modifier</button>
          <button *ngIf="filiere.id" type="button" class="btn btn-danger" (click)="deleteFiliere(filiere.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="addFiliere" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addFiliereModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFiliereModalLabel">Ajouter une fili&egrave;re</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-filiere-form #AddFiliere ></app-filiere-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="submit(AddFiliere)" >Valider</button>
      </div>
  </div>
</div>

<div class="modal fade" id="addFiliere" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addFiliereModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFiliereModalLabel">Ajouter une fili&egrave;re</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-filiere-form #AddFiliere ></app-filiere-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="submit(AddFiliere)" >Valider</button>
      </div>
  </div>
</div>
