<form *ngIf="filiereForm" [formGroup]="filiereForm">
  <div class="input-group">
    <span class="input-group-text">Libellé</span>
    <input type="text" class="form-control" formControlName="libelle">
  </div>
</form>
